<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('partials/navbar') %>

<div class="home-container">
  <div class="content text-center">
    <h1 class="main-title">Welcome to Daily Water Intake Tracker</h1>
    <p class="subtitle">Keep track of your hydration goals effortlessly and stay healthy!</p>
    
    <div class="button-container">
      <a href="/signup" class="btn btn-primary">Sign Up</a>
      <a href="/login" class="btn btn-secondary">Login</a>
    </div>
  </div>
</div>
